<html>
	<body>
		<h1>ACM ICPC AUT 17th</h1>
		<h3>Sorry for delay the contest is going to start soon</h3>
		<p>
			The contest is going to start 4:00 please login now <a href="http://daavar2.icpc.aut.ac.ir/domjudge/">here</a> and check your status.
			If is any problem please inform us.
		</p>
		<p>Name: {{.Name}}</p>
		<p>Username: {{.User}}</p>
		<p>Password: {{.Pass}}</p>
	</body>
</html>
