<html>
	<body>
		<h1>ACM ICPC AUT 17th</h1>
		<p>
			The 17th International Programming contest of Amirkabir university was held on November 3, 2017
			at the Computer Engineering Faculty of Information Technology of Amirkabir University of Technology.
		</p>
		<p>
			In this contest there were 70 teams in attendance and 145 teams online
			The contest also took place simultaneously at the University of Munich and attended by three teams. 
			The statistical details of the participating universities are as follows:
		</p>
                <!-- <img src="cid:image.png" alt="participating universities" /> -->
		<p>You can also get the table of the results of the contest and questions through the link below:</p>
		<p><a href="http://icpc.aut.ac.ir/past">Questions and Results of the Amirkabir International Programming contest</a></p>
		<p>We put 17th AUT ACM ICPC on referee website, for a limited time so that you can solve the questions again.</p>

		<p><strong>Team {{.Name}}</strong></p>
		<p><strong>Your username: {{.User}}</strong></p>
		<p><strong>Your Password: {{.Pass}}</strong></p>

		<p><strong>Referee website address: <a href="http://daavar.ceit.aut.ac.ir/">http://daavar.ceit.aut.ac.ir/</a></strong></p>

		<p>
			Wishing ever more success
			Team of the 17th International AUT ACM ICPC
		</p>
	</body>
</html>
